<a href="https://colab.research.google.com/github/Braafisch/Advanced-Data-Mining-Exercises/blob/main/Introduction%20Data%20Mining/aufgaben_dm_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise Basics Data Mining
===========================

## Exercise 1: Statistical description of data

Let there be a small data set with one feature: {8, 2, 4, 5, 1, 2, 6}

1.  Calculate the following statistical features by hand!
    (Please do NOT use Python or any calculator):
    -   mean value
    -   median
    -   quantile $Q_{0.25}$
    -   quantile $Q_{0.75}$

2.  Now use Python to calculate the statistical features.
    Do you get the same values?

3.  Manually draw (by hand!) a histogram with bins of width 2 (bins: (0,2] , (2,4] ,&#x2026;)

4.  Now use Python to plot the histogram. Do you get the same result?

### 1.1 

$\frac{8+2+4+5+1+2+6}{7} = 4$

$4$

$\frac{1+2}{2}=1.5$

$\frac{1+2+2+4+5+6}{6}=3.33$

### 1.2

In [ ]:
import numpy as np

a = np.array([8,2,4,5,1,2,6])
print(np.mean(a))
print(np.median(a))
print(np.quantile(a,0.25))
print(np.quantile(a,0.75))

4.0
4.0
2.0
5.5

## Exercise 2: Project understanding and Data understanding

First download the wine dataset from Moodle (wine.csv).
You can read a CSV with pandas using `pandas.from_csv`. Importing pandas is achieved
with

In [1]:
import pandas as pd
# df = pd.read_csv(...)

In [2]:
import requests
import io
import shutil

url = 'https://raw.githubusercontent.com/Braafisch/Advanced-Data-Mining-Exercises/main/Introduction%20Data%20Mining/wine.csv'
response = requests.get(url, allow_redirects = True)

with open('wine.csv', 'wb') as fin:
    shutil.copyfileobj(io.BytesIO(response.content), fin)

Using `pd` as alias is a convention.

### Project and data understanding

**Project Goal**: Using chemical analysis to determine the origin of wines using the „wine“ data set.

Your data to solve the task:

-   3 different types of Italian wine
    -   number of instances:  180
    -   number of features: 13
    -   number of classes: 3

-   features:
    -   Alcohol
    -   Malic acid
    -   Ash
    -   Alcalinity of ash
    -   Magnesium
    -   Total phenols
    -   Flavanoids
    -   Nonflavanoid phenols
    -   Proanthocyanins
    -   Color intensity
    -   Hue
    -   OD280/OD315 of diluted wines
    -   Proline

-   one column „class“: with the types of wine ${1, 2, 3}$

Read the csv-file with the wine data set in a Pandas data frame.

1.  Check if all data objects and features are available, compare the number of lines
    with the description above.
2.  Check the types of your attributes (there is one column where it does not make sense),
3.  also check for duplicates and missing values.

If you find duplicates or missing values remove the corresponding objects.

**Hints**:

-   There is one column with a non-sense value in it.
-   If a file is read, the types of each column are determined automatically (if possible).
    It might happen that there are different types in one column.
    As the documentation tells us: **Columns with mixed types are stored with the object dtype**.
-   Duplicates can be removed with the method `DataFrame.duplicated()`.
-   Missing values can be found with `DataFrame.isnull()`.
-   Missing values can dropped with `DataFrame.dropna()`.

In [23]:
#from pandas.core.arrays.datetimes import DataFrame
df = pd.read_csv('wine.csv')
print(f'number of instances: {len(df.index)}')
print(f'number of features: {df.shape[1]-1}')
print(f'number of classes: {len(df["class"].unique())}')

print(df.dtypes)
df.columns[df.isnull().any()]
#print()
#df

number of instances: 181
number of features: 13
number of classes: 3
class                             int64
Alcohol                         float64
Malic acid                      float64
Ash                              object
Alcalinity of ash               float64
Magnesium                         int64
Total phenols                   float64
Flavanoids                      float64
Nonflavanoid phenols            float64
Proanthocyanins                 float64
Color intensity                 float64
Hue                             float64
OD280/OD315 of diluted wines    float64
Proline                         float64
dtype: object

,class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.22,1.71,2.43,15.6,128,2.80,3.06,0.28,2.29,5.64,1.04,3.92,NaN
1,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
2,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
3,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
4,1,14.37,1.95,2.5,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
177,3,-13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
178,3,93.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
179,3,-13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
180,3,94.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

### Data understanding and preparation, visualization

There are outliers in the data set (hint: 4 obvious outliers in one column, which you will find without having any background in chemistry).

-   Find the outliers and remove the entire instances (the entire rows).
    You can use Python commands and visualization (e.g. histograms or box plots). Which outliers did you find?

**Hints**:

-   The function `DataFrame.describe()` is useful, check out the argument `percentiles`.
-   Make a boxplot of the suspicious column with the member function (`.plot.box()`).

## Exercise 3: Use simple grouping to understand and classify data

There are many features for each class. A useful  feature to classify wine
is such that it behaves differently for different classes.
First, let us check the mean of each class. Using the pandas
`groupby` function (member function of a DataFrame), you can
compute aggregate functions of groups. Use this to compute the
mean of each feature for each group.
If you found an interesting column, the following command
vizualizes the distribution for the different classes.

In [ ]:
import seaborn as sns
# sns.displot(data=df, x=column, hue='class', kind='kde')